{% extends "layout.html" %}

{% block title %}France{% endblock %}

{% block content %}


<h1>Here We Are Exploring France</h1>
    
    <p>France to many France is known as one of the most beautiful countries on earth. France also has monuments such as the Eiffel Tower and Louvre museum that are recognized worldwide. Along with all of this France has some of the most populated cities int the world.  </p>
 
    <h2>Capital: Paris</h2>

    <h3>President: Emmanuel Macron</h3>

    <h4>Official Languages: French, but there are over 25 regional languages spoken throught France and neighboring countries.</h4>

    <h5>Top 5 Populated Cities In France</h5>

	<ol>
	  <li>Paris (1,138,551)</li>
	  <li>Marseille (794,881)</li>
	  <li>Lyon (472,317)</li>
	  <li>Toulouse (433,055)</li>
	  <li>Nice (338,620)</li>
	</ol> 
	
        <img src="static/france.png" class="img-rounded" alt="National flag of France. Blue verticle stript, then white verticle stripe, and red verticle stripe.">

	 



{% endblock %}
