{% extends "layout.html" %}

{% block title %}France{% endblock %}

{% block content %}


	<h1>France</h1>
    
    <p>France to many France is known as one of the most beautiful countries on earth. France also has monuments such as the Eiffel Tower and Louvre museum that are recognized worldwide. The capital of France is Paris and the official language of France is French. Along with all of this France has some of the most populated cities int the world.  </p>
 
    <h2>Top 5 Populated Cities In France</h2>

	<ol>
	  <li>Paris (1,138,551)</li>
	  <li>Marseille (794,881)</li>
	  <li>Lyon (472,317)</li>
	  <li>Toulouse (433,055)</li>
	  <li>Nice (338,620)</li>
	</ol> 
	

	 




{% endblock %}
