{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <h1>Learning About Countries</h1>

<p>Welcome! Here you can learn about different countries to travel to.</p>

<p>The countries that we have for you to learn about are France, Japan, and Zimbabwe</p>
{% endblock %}
