{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <h1>Learning About Countries</h1>

<p>Welcome! Here you can learn about different countries to travel to.</p>

<p>The countries that we have for you to learn about are France, Japan, and Zimbabwe</p>

<img src="static/france.png" class="img-rounded" alt="National flag of France. Blue verticle stript, then white verticle stripe, and red verticle stripe.">

<img src="static/japan.png" class="img-rounded" alt="National flag of Japan. White background with a red circle in the center.">

<img src="static/zimbabwe.png" class="img-rounded" alt="National flag of Zimbabwe. Green, yellow, red, and black horizontal stripes. On left side, triangle pointing inwards with a red and yellow star.">

{% endblock %}
