{% extends "layout.html" %}

{% block title %}Japan{% endblock %}

{% block content %}

<h1>
Here we're exploring Japan!
</h1>

<p>
Japan is an island country in East Asia, known for its long and distinct cultural history, as well as its technological advancement and urban lifestyle. Long culturally influenced by its neighbors, the country blends its history of ancient traditions and culture with aspects of Western life. Mount Fuji, Japan's tallest and most iconic mountain, is an active volacano, and has been long been worshipped as a sacred peak, seeing its fair share of worshippers, artists and common tourists across the centuries.
</p>

<h5>Capital: </h5> <p> Tokyo </p>

<h5>President: </h5> <p> Shinzo Abe </p>

<h5> Official Languages: </h5> <p> Japanese, which can then be seperated into many different regional dialects and subdivisions across the country.</p>

<h5> Largest Cities: </h5> 
<p> Tokyo - 8,956,000
<br>Yokohama - 3,690,000
<br>Osaka - 2,670,000
<br>Nagoya - 2,266,000
<br>Sapporo - 1,906,000 </p>


<img src="static/japan.png" class="img-rounded" alt="National flag of Japan. White background with a red circle in the center.">
{% endblock %}
