{% extends "layout.html" %}

{% block title %}Zimbabwe{% endblock %}

{% block content %}

<h1>
Here we're exploring Zimbabwe!
</h1>

<p>
Zimbabwe is a landlocked country in southern Africa known for its dramatic landscape and diverse wildlife, much of it within parks, reserves and safari areas. On the Zambezi River, Victoria Falls make a thundering 108m drop into narrow Batoka Gorge, where there’s white-water rafting and bungee-jumping. Downstream are Matusadona and Mana Pools national parks, home to hippos, rhinos and birdlife.
</p>
<h4>Capital: </h4> <p> Harare </p>

<h4>President: </h4> <p> Emmerson Mnangagwa </p>

<h4> Official Languages: </h4> <p> Shona, Ndebele, English, Xhosa, Chewa, Venda, Southern Sotho, Tswana, Tsonga, Tonga
</p>

{% endblock %}
