{% extends "layout.html" %}

{% block title %}Zimbabwe{% endblock %}

{% block content %}

<h1>
Here we're exploring Zimbabwe!
</h1>

<p>
Zimbabwe is a landlocked country in southern Africa known for its dramatic landscape and diverse wildlife, much of it within parks, reserves and safari areas. On the Zambezi River, Victoria Falls make a thundering 108m drop into narrow Batoka Gorge, where there’s white-water rafting and bungee-jumping. Downstream are Matusadona and Mana Pools national parks, home to hippos, rhinos and birdlife.
</p>
<h5>Capital: </h5> <p> Harare </p>

<h5>President: </h5> <p> Emmerson Mnangagwa </p>

<h5> Official Languages: </h5> <p> Shona, Ndebele, English, Xhosa, Chewa, Venda, Southern Sotho, Tswana, Tsonga, Tonga
</p>

<h5> Largest Cities: </h5> 
<p> Harare - 1.5 million
<br> Bulawayo - 653,337
<br> Chitungwiza - 356,840
<br>Mutare - 188,243
  <br>Gweru - 91,806 </p>



<img src="static/france.png" class="img-rounded" alt="National flag of Zimbabwe. Green, yellow, red, and black horizontal stripes. On left side, triangle pointing inwards with a red and yellow star.">
{% endblock %}
